@model WatchOrder
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">

    <button asp-action="Delete" asp-controller="Watch" type="submit">Delete</button>
    <button asp-action="Index" asp-controller="Watch" type="submit">Back</button>
</form>